.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.mini-mart-title {
    text-align: center;
    font-size: 2.5rem; 
    margin-bottom: 20px; 
    color: #0078D4; 
    font-weight: bold; 
}



.login-card {
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #fff;
}

.login-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #0078D4;
}

.custom-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.login-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.error-message {
    color: red;
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 600px) {
    .login-card {
        margin: 20px 10px;
    }

    .login-buttons {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}
